
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  font-family: 'Gothic A1', sans-serif;
}

.container {
  background-color: black;
  position: relative;
  overflow: hidden;
}

.svg-canvas {
  position: absolute;
  z-index: 0;
}


@media (orientation: landscape) {
  .container {
    height: 100vh;
    width: 100vh;
  }

}

@media (orientation: portrait) {
  .container {
    height: 100vw;
    width: 100vw;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

button.controller__component-title__delete-button {
    border: none;
    background: none;
    color: red;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
}

.controller {
  position: absolute;
  background-color: #410b4c;
  top: 0;
  right: 0;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 500px;
}

@media (orientation: portrait) {
  .controller {
    position: static;
  }

  .controller-panels {
    display: flex;
    max-width: 100vw;
    overflow-y: scroll;
  }
}

.controller__form-item {
  display: inline-block;
  margin-top: 30px;
  position: relative;
  margin-left: 12px;
}
.controller__component-title {
    background: #00000026;
    color: white;
    padding: 12px;
    margin-top: 12px;
    border-bottom: 5px solid black;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Audiowide', cursive;
    letter-spacing: 2px;
    padding-right: 30px;
    position: relative;
}

span.config__label {
  color: white;
  text-transform: capitalize;
  position: absolute;
  top: -24px;
}

.controller__fieldset {
    display: flex;
    flex-wrap: wrap;
}

input {
  border: none;
  transition: all 0.2s ease-out;
  /* margin-bottom: 10px; */
  width: 100%;
  background: rgba(255, 255, 255, 0.18);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 6px;
  outline: none;
  box-sizing: border-box;
  height: 30px;
  color: #e6cfff;
}

input[type="number"] {
    width: 100px;
}

input[type="color"] {
    width: 100px;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

input:focus {
  background: rgba(255, 255, 255, 0.28);
}

.config__label {

}
